body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
  display: block;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  margin: 0;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 496px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
/* --- Header ---*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  margin-right: 76px;
}
.header-container {
  display: flex;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 24px;
  padding-top: 24px;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-adress-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.header-adress-link {
  padding: 24px 0;
}
.header-adress-link:focus,
.header-adress-link:hover {
  color: #404bbf;
}
.header-accent {
  color: #2e2f42;
}
.header-adress {
  font-style: normal;
}
.header-adress-link {
  color: #434455;
}

/* --main --*/
.main {
  flex-grow: 1;
}
.main-section {
  padding: 188px 0;
}
.main-btn:focus,
.main-btn:hover {
  background-color: #404bbf;
}
.main-btn {
  display: block;
  mask-size: 169px;
  height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.main-container {
  text-align: center;
}
.main-section {
  background-color: #2e2f42;
}
.main-about-list {
  display: flex;
  gap: 24px;
}
.main-about-item {
  width: calc((100% - 72px) / 4);
}
.main-about-name {
  margin-bottom: 8px;
}
.team-section {
  background-color: #f4f4fd;
  text-align: center;
}
.main-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-team-item:not(:last-child) {
  margin-right: 24px;
}
.main-team-title {
  margin-bottom: 72px;
}
.team-card {
  background-color: #ffffff;
}
.team-text {
  display: flex;
  text-align: center;
  gap: 8px;
  padding: 32px 0;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.main-about-title,
.main-portfolio-title {
  text-align: center;
}
.main-about-title {
  visibility: hidden;
}
.main-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.main-portfolio-title {
  margin-bottom: 72px;
}
.main-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}
.content-card {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 32px 0 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
/* -- footer --*/
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer,
.footer-text {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-accent {
  color: #f4f4fd;
}
.footer-container {
  display: flex;
  padding: 100px 0 100px 156px;
  gap: 16px;
  flex-direction: column;
}
.footer-text {
  width: 264px;
}
